# Supabase PostgreSQL
# Use a string de conexão em Settings > Database > Connection string > URI
# DATABASE_URL="postgresql://postgres:senha@db.xxxxx.supabase.co:5432/postgres?sslmode=require"
DATABASE_URL=postgresql://postgres.iypzwtgvgagrzvosavgk:V&2TBCxRq%h/7*=@aws-1-sa-east-1.pooler.supabase.com:6543/postgres

# JWT do backend
JWT_SECRET="32cc8f5e8056abe404d1af0f690f0a1a9a0d2a3c728c7aa8b7c1be273b042eca446518cd4a4a624624dfe714266ec76742399c55365e85ad92257eb5f7d90e0f"
# JWT_EXPIRES_IN="7d"

# Liberação do front
CORS_ORIGIN="http://localhost:5173,http://localhost:3000"
